#view6 {
    /* height: 900px; */
    /* background-color: yellow; */
}

.tooltip {
    position: absolute;
    pointer-events: none;
    width: auto;
    height: auto;
    border-width: 2px;
    border-radius: 4px;
    background-color: white;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
} 